<header class="p-2 bg-danger">
  <div class="d-flex justify-content-between align-items-center text-white container">
    <div class="col-6">
      <a href="/" class="text-white text-decoration-none">
        <h1>Gamestore</h1>
      </a>
    </div>

    <div class="col-6">
      <nav class="w-100">
        <ul class="list-group list-group-horizontal d-flex justify-content-end">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li class="list-group ms-2"><a href="<%= admin_root_path %>" class="text-white">Área Administrativa</a></li>
            <% end %>
            <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete }, class: "list-group ms-2 text-white" %>
          <% else %>
            <li class="list-group ms-2"><a href="<%= new_user_session_path %>" class="text-white">Login</a></li>
            <li class="list-group ms-2"><a href="<%= new_user_registration_path %>" class="text-white">Criar Conta</a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
